<div class="section__wrapper">
  <header class="section__header">
    <h2 class="h2">{{ section.settings.section_title }}</h2>
  </header>
  <div class="section__body">
    {%- if section.settings.text1 != blank -%}
      <div class="h3">{{ section.settings.text1 }}</div>
    {%- endif -%}

    {%- if section.settings.text2 != blank -%}
      <div>{{ section.settings.text2 }}</div>
    {%- endif -%}

    <div class="blockquote">
      <div class="blockquote__body">
        <div class="blockquote__quote">
          {%- if section.settings.text3 != blank -%}
            <div class="h3">{{ section.settings.text3 }}</div>
          {%- endif -%}

          {%- if section.settings.text4 != blank -%}
            <div>{{ section.settings.text4 }}</div>
          {%- endif -%}
        </div>
        <div class="blockquote__author">
          <div class="blockquote__media">
            {%- if section.settings.image != blank -%}
              <img class="section__media lazyload" data-src="{{ section.settings.image | img_url: '800x' }}">
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>

    {%- if section.settings.btn_label != blank -%}
    <a href="{{ section.settings.btn_url }}" class="button button--red">{{ section.settings.btn_label }}</a>
    {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "Rich text",
  "class": "index-section rich-text-section section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "Text 2"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "text3",
      "label": "Text 3"
    },
    {
      "type": "richtext",
      "id": "text4",
      "label": "Text 4"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    }
  ]
}
{% endschema %}
